.notes-item_archive {
  border: 1px rgba(254, 254, 254, 0) solid;
  background-color: rgba(11, 27, 61, 0);
  border-radius: 5px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  transition: 180ms ease-in-out;
}

.notes-item_archive:hover {
  border: 1px var(--yellow-accent-border) solid;
  background-color: var(--yellow-accent);
}

.archive-btn {
  fill: var(--font-color-content);
  opacity: 0.4;
  transform: translateY(2px);

}