#login-input-form {
  width: 400px;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 15px;

}

#login-input-form #email,
#login-input-form #submit,
#login-input-form #password {
  background-color: #1a222c;
  padding: 7px;
  border-radius: 5px;
  border: 1px rgba(255, 255, 255, 0.414) solid;

}

#login-input-form #submit {
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  height: 50px;
  color: white;
  background-color: #382113;
  transition: 80ms ease-in-out;
  margin-bottom: 10px;
}

#login-input-form #submit:hover {
  background-color: #623e27;
}