#note-input-form #title,
#note-input-form #body,
#note-input-form #submit {
  background-color: var(--bg-main-input);
  padding: 7px;
  margin-bottom: 25px;
  border-radius: 10px;
  border: 1px rgba(255, 255, 255, 0.414) solid;

}

#note-input-form {
  max-width: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

#note-input-form #title {
  height: 50px;
  font-size: 1.1rem;
  font-weight: 700;
}

#note-input-form .warning {
  position: absolute;
  right: 0;
  top: 50px;
  font-size: 0.8rem;
  font-style: italic;
}

#note-input-form #body {
  height: 225px;
}

#note-input-form #submit {
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  height: 50px;
  color: white;
  background-color: var(--orange-accent);
  transition: 140ms ease-in-out;
}

#note-input-form #submit:hover {
  background-color: var(--orange-accent-highlight);
}

.red-border {
  border: 1px solid rgb(251, 52, 52) !important;
}

.red {
  color: rgb(251, 52, 52);
  font-weight: 600;
}