@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,400;0,600;0,700;0,900;1,400&family=Niconne&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgb(162, 175, 175);
  font-family: 'Bitter', serif;
}

.container {
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #0d1117;
}